---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Just ship less" id="intro">
  <Icon slot="eyebrow" name="nglogo" class="h-32" />
  <Fragment slot="lead">
    The ngchain is a radically updating brand-new blockchain network, building  build a blockchain engine which acts more auditable, scalable, security-oriented and supports more network tasks with vm.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.ngchain.org"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>Read the docs</span>
    </a>
    <a
      href="https://try.ngchain.org"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Try it out</span>
    </a>
  </div>
</ContentSection>
